h1 {
    font-family: 'Pacifico', cursive;
    
  
}

#breedLabel {
    font-family: 'Lilita One', cursive; 
}

a {
    color:white;
}

#carousel-demo {
    font-family: 'Sriracha', cursive;
    
}
.youtubeVideo{
    text-align: center;
}